.historia {
    figure {
        width: 29%;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }

    p {
        width: 70%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: inline-block;
        text-align: center;
    }
}